body{
    background: url('img/background.png');
}
.wrapper{
    width: 800px;
    margin: auto;
    background-color: rgba(125, 24, 51, 0.99);
    padding: 5px;
}
td{
    width: 200px;
    height: 200px;
}
table img{
    width: 90%;
    height: 90%;
    border: orange solid 7px;
}
table tr:first-child td:first-child img{
    width: 90%;
    height: 192%;
}
table{
    margin: auto;
}