.blue{
    background: url('img/kek.png');
}
.red{
    background: url('img/piros.png');
}
.gray{
    background: url('img/szurke.png');
}
.osszead{
    background: url('img/pluszjel.png')
}
.egyenlo{
    background: url('img/egyenlo.png')
}
td{
    width: 97px;
    height: 97px;
    font-size: 75px;
    text-align: center;
}
.vonal{
    background:  url('img/vonal.png');
    height: 30px;
}
div{
    margin: 100px auto;
    width: max-content;
}
h1{
    text-align: center;
}
table{
    margin: auto;
}